.label-input-container {
  display: flex;
  gap: 10px;
  align-items: center;
}

.label-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  flex-grow: 1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.add-label-button {
  background-color: #3498db; /* Main Blue */
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.select-box {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #333;
  cursor: pointer;
}


