<div class="container">
  <app-label-input (labelAdded)="onLabelAdded($event)"></app-label-input>
  <button appHighlight [labels]="selectedLabels" (sendToBackend)="onSendToBackend($event)" class="selected-button">Selected</button>
  <button class="send-button" (click)="onSendToBackendClick()">Send to Backend</button>
</div>

<div class="content">
  <p>
    clothes apple fruit banana azeaze fkdza telecom electronic cars
    Jeans, Mango, Avocado, Blueberries, Bluetooth Earphones, Hybrid Vehicle
    Leather Jacket, Pineapple, Grapes, Kiwi, 5G Smartphone, Electric Scooter
  </p>

  <h3> Test your accuracy with a Large Language Model :</h3>

  <form #form="ngForm" (ngSubmit)="makeApiCall()" class="form">
    <div class="form-group">
      <label for="text">Text:</label>
      <input type="text" id="text" name="text" [(ngModel)]="formData.text" />
    </div>

    <div class="form-group">
      <label for="labels">Candidate Labels:</label>
      <input type="text" id="labels" name="candidate_labels" [(ngModel)]="formData.candidate_labels" />
    </div>

    <button type="submit" class="submit-button">Submit</button>
  </form>

  <div *ngIf="scores.length > 0" class="scores">
    <h2>Scores:</h2>
    <ul>
      <li *ngFor="let score of scores">{{ score }}</li>
    </ul>
  </div>
</div>
